* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-crh-tur.crh-tur.dix -text
/apertium-crh-tur.crh-tur.lrx -text
/apertium-crh-tur.crh-tur.t1x -text
/apertium-crh-tur.crh-tur.t2x -text
/apertium-crh-tur.crh-tur.t3x -text
/apertium-crh-tur.crh-tur.t4x -text
/apertium-crh-tur.tur-crh.lrx -text
/apertium-crh-tur.tur-crh.t1x -text
/apertium-crh-tur.tur-crh.t2x -text
/apertium-crh-tur.tur-crh.t3x -text
/autogen.sh -text
/configure.ac -text
dev/bidix-sanity.sh -text
dev/corpus-errors.sh -text
dev/corpus-stats.sh -text
dev/find-terms.py -text
dev/tur_crh.txt -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
testvoc/corpus/trimmed-coverage.sh -text
texts/challenge.crh.txt -text
texts/challenge.tur.txt -text
texts/qarilgaclar.crh.txt -text
